<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/tienda.css">
  <link rel="stylesheet" href="/css/tema.css">
  <link rel="icon" href="/img/logo.png" type="image/png">
</head>

<body>

  <header class="headerAdmin">
    <div>
      <img src="/img/logo.png" alt="logo Velaz" width="85">
      <h1>Velaz</h1>
    </div>

    <div>
      <h1>Panel de Administración</h1>
      <h2>Thomas Velazco y Iván Paz</h2>
    </div>
    <div>
    <a href="../public/index_admin.html" class="btnVolver" style="color: rgb(255, 255, 255);">Volver</a>
    </div>  
  </header>

  <main id="catalogo">

    
      <div class="agregar-container">
        <a href="/productos/agregar" class="btnAgregarProducto"> Agregar Producto</a>
      </div>


    
    <section id="divRemeras">
      <h2>Remeras</h2>
      <div id="remeras" class="productos-container">

        <% productos.filter(p => p.categoria === "remera").forEach(p => { %>
          <div class="producto <%= p.estado === 'inactivo' ? 'inactivo' : '' %>">
            <h3><%= p.nombre %></h3>
            <img src="<%= p.imagen %>" width="120">
            <p>Precio: $<%= p.precio %></p>

            <div class="botones-producto">

              
              <form action="/productos/<%= p.id %>/editar" method="GET">
                <button type="submit" class="btnFull btnModificar">Modificar</button>
              </form>

              <% if (p.estado === "activo") { %>

                
                <form action="/productos/<%= p.id %>/baja?_method=PUT" method="POST">
                  <button type="submit" class="btnFull btnBaja">Dar de baja</button>
                </form>

              <% } else { %>

                
                <form action="/productos/<%= p.id %>/alta?_method=PUT" method="POST">
                  <button type="submit" class="btnFull btnAlta">Reactivar</button>
                </form>

              <% } %>

            </div>

          </div>
        <% }) %>

      </div>
    </section>

   
    <section id="divPantalones">
      <h2>Pantalones</h2>
      <div id="pantalones" class="productos-container">

        <% productos.filter(p => p.categoria === "pantalon").forEach(p => { %>
          <div class="producto <%= p.estado === 'inactivo' ? 'inactivo' : '' %>">
            <h3><%= p.nombre %></h3>
            <img src="<%= p.imagen %>" width="120">
            <p>Precio: $<%= p.precio %></p>

            <div class="botones-producto">

              
              <form action="/productos/<%= p.id %>/editar" method="GET">
                <button type="submit" class="btnModificar">Modificar</button>
              </form>


              <% if (p.estado === "activo") { %>

                
                <form action="/productos/<%= p.id %>/baja?_method=PUT" method="POST">
                  <button type="submit" class="btnBaja">Dar de baja</button>
                </form>

              <% } else { %>

                
                <form action="/productos/<%= p.id %>/alta?_method=PUT" method="POST">
                  <button type="submit" class="btnAlta">Reactivar</button>
                </form>

              <% } %>

            </div>

          </div>
        <% }) %>

      </div>
    </section>

  </main>

  
  <div id="modalConfirmacion" class="modal">
    <div class="modal-content">
      <h2 id="modalTitulo"></h2>
      <p id="modalMensaje"></p>

      <div class="modal-botones">
        <button id="btnCancelar" class="btnCancelar">Cancelar</button>
        <button id="btnConfirmar" class="btnConfirmar">Confirmar</button>
      </div>
    </div>
  </div>

  <button id="themeToggle">🌙</button>

  
  <script src="../public/js/dashboardModal.js" defer></script>
  <script src="../public/js/tema.js"></script>
</body>
</html>
